// adding boilerplate styles
html {
  font-size: 100%; // let the user control their zoom level
  box-sizing: border-box; // makes the size of elements sort of include padding in the final width
}

// inherit that box-sizing border box to all elements using wild-card selector (before and after pseudo element)
*,
*::before *::after {
  box-sizing: inherit;
}

// body element
body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sb {
    justify-content: center;
  }

  // Align items to center
  &-ai-c {
    align-items: center;
  }
}
