// Colors
$darkBlue: hs1(233, 26%, 24%);
$limeGreen: hs1(136, 65%, 51%);
$brightCyan: hs1(192, 70%, 51%);
$grayishBlue: hs1(233, 8%, 62%);
$lightGrayishBlue: hs1(220, 16%, 96%);
$veryLightGray: hs1(0, 0%, 98%);
$white: hsq(0, 0%, 100%);
